<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/pico.classless.min.custom.css">
    <title>{{ .Title }}</title>
</head>