<style>
    #title {
        margin-bottom: 0.1em;
    }
</style>
<hgroup>
    <a href="{{ .Site.BaseURL }}">
        <h1 id="title">{{ .Site.Title }}</h1>
    </a>
    <h2>{{ .Site.Params.Description }}</h2>
</hgroup>
</hgroup>