<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <main>
        {{- partial "header.html" . -}}
        <br>
        {{- block "main" . }}{{- end }}
    </main>
    <!-- {{- partial "footer.html" . -}} -->
</body>

</html>