{{ define "main" }}
{{ .Content }}
<p>Ce site s'adresse aux personnes qui bégaient.</p>
<p>Le contenu disponible sur ce site est basé sur le livre "<i>Une auto-thérapie pour personnes qui bégaient</i>", de
    <b>Malcolm Fraser</b>, traduit en français par <b>Richard Parent</b>, <a
        href="https://www.stutteringhelp.org/sites/default/files/Self_therapy_French_Translation.pdf">disponible au format PDF</a> sur
    le site de la <a href="https://www.stutteringhelp.org/">Stuttering Foundation</a>.
</p>
<p>Il est recommandé de lire les articles ci-dessous dans l'ordre.</p>
<p>(Site en cours de construction.)</p>
{{- partial "posts.html" . -}}
{{ end }}